.background{
    width: 390px;
    height: 844px; 
    background-color: #081F45;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.selection{
    position: absolute;
    top: 7%;
     
}

.selected{
    background-color: #FFC82D;
    width: 195px;
}

.notselected{
    background-color: white;
    width: 195px;
}

.list{
    display: flex;
    
}

.user{
    display: flex;
    margin-bottom: 10px;
}

.users{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 100px; 
}
.profilepic{
    margin: 10px;
}

.dot {
    height: 90px;
    width: 90px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }

.box {
    background-color: rgba(255,255,255, 0.15);
    width: 260px;
    color: #fff;
}

.back-btn{
    color: white;
    position: absolute;
    left: 25%;
    top: 3%;
}
