.background{
    width: 390px;
    height: 844px; 
    background-color: #081F45;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.text{
    color: #FFC82D;
    font-size: 40px;
}

.btn{
    position: fixed;
    bottom: 10%;
}